<div class="form-group">
  <label class="control-label col-sm-offset-2 col-sm-2" for="company">Search Type</label>
  <div class="col-sm-6 col-md-4">
    <select id="company" class="form-control">
      <option>City</option>
      <option>Pincode/Zipcode</option>
    </select> 
  </div>
</div>



<div class="form-group">
      <label for="Street Name" class=" col-sm-offset-2 col-md-2 control-label">Search Value</label>
      <div class="col-md-5">
        {{input value=model.name class="form-control"}}
      </div>
 </div>
<div class="form-group">
<!--      <button type="button" class=" col-sm-offset-2 btn btn-primary">Search</button>-->
	  <button type="button" class=" col-sm-offset-2 btn btn-primary" {{action 'search'}}>Search</button>
 </div>
<!--
<div class="container">
{{parking-result action="showUser"}}
</div>
-->
<div class="container">
	<nav class ="col-sm-offset-10" aria-label="Pagenation">
	  <ul class="pagination">
		<li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
		
        <li ><a href="#">2 <span class="sr-only">(current)</span></a></li>
		
        <li ><a href="#">3 <span class="sr-only">(current)</span></a></li>
	  </ul>
   </nav>
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Username</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>

<div id="hbsTemp"></div>
</div>